<%= render partial: "/navbar" %>
<h2>Friends leaderboard</h2>
<% @friends_leaderboard.each_with_index do |u, count| %>
	<p><%=count + 1%> <%= image_tag u.avatar.url(:thumb) %> <%= u.username %> <%= u.total %></p>
<% end %>