<%= render partial: "/navbar" %>

<div class="user-form-container">

  <h2 style="border-bottom: thin solid white;">Edit your Profile</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
    <%= devise_error_messages! %>
    <div class="user-form-fields">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autocomplete: "off", :class => "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label :avatar %><br />
        <div style="width:100px;display:block;margin:0 auto"><%= f.file_field :avatar %></div>
      </div>

      <div class="field">
        <%= f.label "All changes require your current password" %><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", :class => "btn-lg btn-primary link-text-white", :style => "margin-top:20px" %>
      </div>
    </div>
  <% end %>