<h1>Admin#main</h1>
<p>Find me in app/views/admin/main.html.erb</p>

<%= link_to('User Administration', admin_users_path,) %>  <br>
<%= link_to('Friend Administration', admin_friends_path,) %><br>
<%= link_to('Roles Administration', admin_roles_path,) %>  <br>
<%= link_to('Games Administration', admin_games_path,) %>  <br>
<%= link_to('Messages Administration', admin_messages_path,) %>  <br>