<h2><%= link_to('Back to admin main', admin_main_path) %> </h2>

<% @games.each do |g| %>
	<p>
		<%= g.id %>
		<%= g.user.username if g.user %>
		<%= g.game_time %>
		<%= g.score %>
		<%= g.damage_taken %>
		<%= g.damage_inflicted %>
		<%= g.laser_time %>
		<%= g.slaser_time %>
		<%= g.mg_time %>
		<%= g.rocket_time %>
		<%= g.mine_time %>
		<%= link_to('Delete', admin_game_path(g), method: :delete,
			 data: { confirm: "Destroy this game?" }) %> 
	</p>
<% end %>