<%= render partial: "/navbar" %>
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<div class="profile-container">
	<div class="account-info row">
		<div class="col-md-8">
			<%= image_tag @user.avatar.url(:thumb), :class => "account-avatar" %>
			
			<h2 class="set-vert-margins"><%= @user.username %></h2>
			<h3>Total score: <%= @user.total %></h3>
		</div>
		<div class="col-md-4" style="padding:1%">
			<div style="display:flex;justify-content:center;align-items:center;">
			  <div>
			  	<% if current_user.id != @user.id %>
				<% if @isfriend %>
					<p>You are friends with <%= @user.username %></p>
				<% else %>
					<%= form_for @friendship do |f| %>
						<%= f.hidden_field :user_id, value: current_user.id %>
						<%= f.hidden_field :friend_id, value: @user.id %>
						<%= f.submit "Friend #{@user.username}", :class => "btn btn-primary" %>
					<% end %>
				<% end %>
			<% else %>
				<%=link_to "Edit your Profile", edit_user_registration_path, :class => "btn btn-info"%>
			<% end %>
			  </div>
			</div>
		</div>
	</div>
	<% if @user_games.length > 0 %>
		<h3 style="text-align:center">Most recent game:</h3>
		<div class="last-game">
			<%= render partial: "game_entry", locals: {game: @last_game.first} %>
		</div>
		<% if @user_games.length > 1 %>
			<h3 style="text-align:center">Past games:</h3>
			<% @user_games.each do |game| %>
				<%= render partial: "game_entry", locals: {game: game} %>
			<% end %>
		<% end %>
	<% else %>
		<p> You havent played any games yet. Click on the "Play!" button to begin! </p>
	<% end %>

	<div class="friends-list" >
		<h2>Friends</h2>
		<% @friends.each do |f| %>
			<p>
			  <%= image_tag f.avatar.url(:thumb) %> 
			  <%= f.username %>
			  <%= link_to "Profile", user_path(f.id) %>
			</p>
		<% end %>
	</div>

	<div class="new-message-container" style="background-color: yellow">
		<% if @user.errors.any? %>
		    <div id="error_explanation">
			    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
			    <ul>
				    <% @user.errors.full_messages.each do |msg| %>
				    	<li><%= msg %></li>
				    <% end %>
			    </ul>
		    </div>
		<% end %>
		<%= form_for @message do |m| %>
			
			<%= m.hidden_field :sender_id, value: current_user.id %>
			<%= m.hidden_field :user_id, value: @user.id %>
			<div class="field">
				<%= m.label "Write a message to #{@user.username}" %><br />
				<%= m.text_area :content, autofocus: true %>
			</div>

			<div class="actions">
			    <%= m.submit "Submit" %>
			</div>
		<% end %>
	</div>

	<h2>Your wall</h2>
	<div class="wall-container" style="background-color: teal">
		<% @messages.each do |m| %>
			<%= m.sender.username %><br>
			<%= m.content %><br><br>
		<% end %>
	</div>
</div>