<%= render partial: "/navbar" %>

<div class="profile-container">
	<div class="account-info row">
		<div class="col-md-8">
			<%= image_tag @user.avatar.url(:thumb), :class => "account-avatar" %>
			
			<h2 class="set-vert-margins"><%= @user.username %></h2>
			<h3>Total score: <%= @user.total %></h3>
		</div>
		<div class="col-md-4" style="padding:1%">
			<div style="display:flex;justify-content:center;align-items:center;">
			  <div>
			  	<% if current_user.id != @user.id %>
				<% if @isfriend %>
					<p>You are friends with <%= @user.username %></p>
				<% else %>
					<%= form_for @friendship do |f| %>
						<%= f.hidden_field :user_id, value: current_user.id %>
						<%= f.hidden_field :friend_id, value: @user.id %>
						<%= f.submit "Friend #{@user.username}", :class => "btn btn-primary" %>
					<% end %>
				<% end %>
			<% else %>
				<%=link_to "Edit your Profile", edit_user_registration_path, :class => "btn btn-info"%>
			<% end %>
			  </div>
			</div>
		</div>
	</div>

	<!-- Display games -->
	<% if @user_games.length > 0 %>
		<h3 style="text-align:center">Most recent game</h3>
		<div class="last-game">
			<%= render partial: "game_entry", locals: {game: @user_games.first} %>
		</div>
		<% if @user_games.length > 1 %>
			<h3 style="text-align:center">Past games</h3>
			<% @user_games.offset(1).each do |game| %>
				<%= render partial: "game_entry", locals: {game: game} %>
			<% end %>
		<% end %>
	<% else %>
		<h4 style="text-align:center">No games on record</h4>
	<% end %>

	<div class="friends-list" >
		<h3 style="text-align:center">Friends</h3>
		<div class="friends-container">
			<% @friends.each do |f| %>
				<div class="friend-entry">
				  <%= image_tag f.avatar.url(:thumb), :class => "friend-avatar" %> 
				  <p class="friend-name"><%= f.username %></p>
				  <%= link_to "Profile", user_path(f.id), :class => "friend-link btn btn-primary" %>
				</div>
			<% end %>
			<div class="clearfix"></div>
		</div>
	</div>
	<h3 style="text-align:center">Wall</h3>
	<div class="wall-container">

		<div class="wall-messages" >
			<% @messages.each do |m| %>
				<div class="wall-message row">
					<div class="col-md-2">
						<div class="wall-message-sender">
							<%= image_tag m.sender.avatar.url(:thumb), :class => "account-avatar" %>
							<%= m.sender.username %>
							<!-- <span style="text-align:right"><%= m.created_at %></span> -->
						</div>
					</div>
					<div class="col-md-10">
						<p class="message-timestamp">on <%= m.created_at %></p>
						<p class="wall-message-content"><%= m.content %></p>
					</div>
				</div>
			<% end %>
		</div>
		<% if @user.errors.any? %>
		    <div id="error_explanation">
			    <h6><%= pluralize(@user.errors.count, "error") %> prohibited this message from being sent:</h6>
			    <ul>
				    <% @user.errors.full_messages.each do |msg| %>
				    	<li><%= msg %></li>
				    <% end %>
			    </ul>
		    </div>
		<% end %>
		<div class="write-message">
			<%= form_for @message do |m| %>			
				<%= m.hidden_field :sender_id, value: current_user.id %>
				<%= m.hidden_field :user_id, value: @user.id %>
				<div class="field">
					<%= m.label "Write a message to #{@user.username}" %><br />
					<%= m.text_area :content, autofocus: true, :cols => 75, :rows => 3, :class => "message-content" %>
				</div>
				<div class="actions">
				    <%= m.submit "Submit", :class => "message-submit btn btn-primary"%>
				</div>
			<% end %>
		</div>
	</div>
</div>