<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

  <div class="field">
    <%= u.label :email %><br />
    <%= u.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= u.label :username %><br />
    <%= u.text_field :username, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= u.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= u.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= u.label :password_confirmation %><br />
    <%= u.password_field :password_confirmation, autocomplete: "off" %>
  </div>

<% if @user.avatar %>
  <%= image_tag @user.avatar.url(:thumb) %><br>
<% end %>
  <div class="field">
    <%= u.label :avatar %><br />
    <%= u.file_field :avatar %>
  </div>

  <div class="actions">
    <%= u.submit "Submit" %>
  </div>